/* 
Itens que precisam ser feitos:

-Não estou conseguindo deixar o menu com um tamanho de padding adequado e bonito, ele acaba saindo do header
- Não estou conseguindo colocar o toogle menu
- Não estou conseguindo ajudar a lateral, os AD ficam para fora. 
- Como fazer o toogle menu

*/

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* ----- Header -----*/
.header {
    width: 100%;
    height: 40px;
    font-size: 20px;
    background-color: #000000;    
}
.header a {
    text-decoration: none;
    color: white;
}
.header a:hover {  
    background-color: white;
    color: black;
}

.header .logo {    
    float: left;
    display: inline-block;
    list-style-type: none;
    line-height: 40px;
    padding: 0 10px;
}

.header .logo:hover{
    background-color: white;
    color: black;
}

.header .itens-menu{
    text-align: center;
    float: left;
    display: inline-block;
    list-style-type: none;
    line-height: 40px;
    padding: 0 10px;
}

.header .itens-menu:hover{
    background-color: white;
    color: black;
}

#menu-toggle {
    position: fixed;
    top: 0;
    right: 0;
    line-height: 40px;
    padding: 0 10px;
    color: #FFFFFF;
    text-decoration: none;
}

#menu-toggle:hover{
    background-color: #FFFFFF;
    color:#000000;
}

.header::after{
    clear: both;
    content: '';
    display: block;
}
/* ----- Main -----*/
.main {
    margin-top: 15px;
}
.main::after{
    clear:both;
    content: '';
    display: block;
}

.section::after {
    content: '';
    clear: both;
    display: block;
}

/* ----- Content Text -----*/
.main .text-left{
    float:left;
    width:70%;
    margin-left: 10px;
}

.main .text-left h1{
    font-size:30px;
    color:forestgreen;
    margin: 10px;
}
.main .text-left p{
    text-align: left;
    margin:10px;
    line-height: 20px;
}

/* ----- Content ad -----*/
.main .ad-right{
    float:right;
    width:25%;
    margin: 10px;
}
.main .ad-right .adSmall {
    height: 70px;
    text-align: center;
    border: 1px #BFBFBF;
    border-style: solid;
    margin-bottom: 10px;
    line-height: 70px;
}
.main .ad-right .adMid {
    height: 200px;
    text-align: center;
    border: 1px #BFBFBF;
    border-style: solid;
    margin-bottom: 10px;
    line-height: 200px;
}
/* ---- nav pages ---- */


.page-button{
    width: 100%;
    height: 40px;
    font-size: 20px;
    text-align: center;
}


.page-button  .itens-page{
    text-align: center;
    display: inline-block;
    list-style-type: none;s
    line-height: 40px;
    padding: 5px 10px;
}

.page-button .itens-page:hover{
    -ms-transform:scale(1.5,1.5);
    -webkit-transform:scale(1.5,1.5);
    -moz-transform:scale(1.5,1.5);
    -o-transform:scale(1.5,1.5);
    transform: scale(1.5,1.5);
    /*usar javascript para apagar atribuir o selected para o hover */ 

}
.last-item{
    background: url(../img/last.png) no-repeat center center;
    background-size: 20px;
    max-width:31px;
    max-height:40px
}
.selected{
    color: #FFFFFF;
    background-color: #000000;
}
/* ----- Footer -----*/
.footer{
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 100px;
}


.footer p{
    line-height: 100px;
    align-content: center;
    color: #FFFFFF;
    margin-left: 10px;
}


/* Responsivo */
@media only screen and (min-width:320px) and (max-width: 600px){
    body{
        background-color: rgba(40, 10, 10, 0.06);
        /*apenas para perceber a mudança */
    }
    .menu{
        display:none;
    }
    .main .text-left{
        float:left;
        width:80%;
        margin: 25px;
        display: inline-block;
    }

    .main .ad-right{
        float:left;
        width:80%;
        margin: 25px;
        display: inline-block;
    }


}

@media only screen and (min-width:0px) and (max-width: 320px){
    body{
        content: "";
    }
    /* colocar todos os elementos ocultos*/

}